body {
    background: #FFFFFF;
    margin: 0px;
}

.cabecalho {
    position: static;
    width: 100%;
    height: 52px;
    /* Gray 1 */
    background: #333333;
}

footer {
    width: 100%;
    height: 29px;
    background: #333333;
    position: fixed;
    bottom: 0;
    padding: 0;
    
}

.rodape{
    width: 100%;
    height: 29px;
    background: #333333;
    position: fixed;
    bottom: 0;
    
}

/*#imagem-painel {
    position: relative;
    width: 111px;
    height: 105px;
    top: 0px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/

#titulo-painel {
    position: relative;
    width: 297px;
    height: 30px;
    top: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#op1 {
    position: absolute;
    top: 29%;
    width: 100%;
}

#op2 {
    position: absolute;
    top: 50%;
    width: 100%;
}

#op3 {
    position: absolute;
    top: 71%;
    width: 100%;
}

#op4 {
    position: absolute;
    top: 92%;
    width: 100%;
}

#op5 {
    position: absolute;
    top: 113%;
    width: 100%;
}

#op6 {
    position: absolute;
    top: 134%;
    width: 100%;
}

rect {
    width: 100%;
}

#opcao1 {
    width: 90%;
    height: 103px;
    fill: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#opcao2 {
    position: relative;
    width: 90%;
    height: 103px;
    fill: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#opcao3 {
    position: relative;
    width: 90%;
    height: 103px;
    top: -94px;
    fill: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#opcao4 {
    position: relative;
    width: 90%;
    height: 103px;
    top: -191px;
    fill: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#opcao5 {
    position: relative;
    width: 90%;
    height: 103px;
    top: -287px;
    fill: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#opcao6 {
    position: relative;
    width: 90%;
    height: 103px;
    top: -383px;
    fill: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#imagemop1 {
    position: absolute;
    width: 103px;
    height: 103px;
    top: 0%;
    border-radius: 20px;
    margin-left: 5%;
}

#imagemop2 {
    position: absolute;
    right: 5%;
    width: 103px;
    height: 103px;
    border-radius: 20px;
    top: 0%;
    margin-left: 65%;
}

#imagemop3 {
    position: absolute;
    width: 103px;
    height: 103px;
    border-radius: 20px;
    top: 0%;
    margin-left: 5%;
}

#imagemop4 {
    position: absolute;
    width: 103px;
    height: 103px;
    top: 0%;
    right: 5%;
    border-radius: 20px;
}

#imagemop5 {
    position: absolute;
    width: 103px;
    height: 103px;
    top: 0%;
    margin-left: 5%;
}

#imagemop6 {
    position: absolute;
    width: 103px;
    height: 103px;
    top: 0%;
    right: 5%;
    border-radius: 20px;
}

#opcao1front {
    position: absolute;
    top: 0%;
    width: 90%;
    height: 103px;
    fill: none;
    display: block;
    right: 5%;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.73);
}

#subtitulo1 {
    position: absolute;
    width: 149px;
    height: 19px;
    right: 5%;
    top: 20%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    /* Gray 6 */
    color: #F2F2F2;
}

#subtitulo2 {
    position: absolute;
    width: 149px;
    height: 19px;
    margin-left: 10%;
    top: 20%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    /* Gray 6 */
    color: #F2F2F2;
}

#subtitulo3 {
    position: absolute;
    width: 149px;
    height: 19px;
    margin-left: 10%;
    top: 10%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    /* Gray 6 */
    color: #F2F2F2;
}

#fundoInfo {
    position: relative;
    width: 138px;
    height: 137px;
    top: 10px;
    /* Gray 1 */
    background: #333333;
    display: block;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
}

#imgInfo2 {
    position: relative;
    width: 138px;
    height: 137px;
    top: -127px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#titulo-dadospessoais {
    position: relative;
    width: 153px;
    height: 22px;
    top: -127px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    line-height: 26px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.agrupamento-padrao {
    position: absolute;
    width: 400px;
    top: -100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 2.5;
    list-style-type: none;
    color: #000000;
}

.agrupamento-dados {
    position: relative;
    width: 400px;
    top: -100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 2.5;
    list-style-type: none;

    /*position: relative;
    width: 400px;
    top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 2.3;
    list-style-type: none;
    color: #000000;*/
}

.fundo {
    position: absolute;
    width: 100%;
    height: 154px;
    left: 0px;
    top: 52px;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.73);
}

#imgObjet1 {
    position: relative;
    width: 219px;
    height: 154px;
    top: 0%;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#titulo-objetivo {
    position: relative;
    width: 250px;
    height: 22px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#subtitulo-objetivo {
    position: absolute;
    width: 200px;
    height: 15px;
    left: 21px;
    top: 270px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    color: #000000;
}

.itens-sobre {
    line-height: 1.5;
    display: list-item;
    left: 6px;
    color: #000000;
}

#imagemCompetencia1 {
    position: relative;
    width: 10%;
    height: 154px;
    top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#titulo-competencias {
    position: relative;
    width: 133px;
    height: 26px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#texto-competencias {
    position: relative;
    width: 90%;
    height: 96px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    text-align: justify;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#imgFormAcad {
    position: relative;
    width: 360px;
    height: 154px;
    top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#tituloFormAcad {
    position: relative;
    width: 100%;
    height: 26px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#botao-formacad {
    position: relative;
    top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-block-end: 40px;
}

#conteudo1 {
    position: absolute;
    width: 311px;
    height: 71px;
    left: 19px;
    top: 293px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
}

#conteudo2 {
    position: absolute;
    width: 322px;
    height: 45px;
    left: 19px;
    top: 409px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: justify;
    color: #000000;
}

#tituloInfoComplement {
    position: relative;
    width: 301px;
    height: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#agrupamento-infoCoplement {
    position: relative;
    width: 90%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 2.3;
    list-style-type: none;
    text-align: justify;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#agrupamento-FormAcad {
    position: relative;
    width: 90%;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 2.5;
    list-style-type: none;
    text-align: justify;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#agrupamento-Objetivos {
    position: absolute;
    width: 300px;
    left: -20px;
    top: 300px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 2.5;
    list-style-type: none;
    text-align: justify;
    color: #000000;
}

#agrupamento-Competencias {
    position: relative;
    width: 90%;
    top: -40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 2.3;
    text-align: justify;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#agrupamento-idiomas {
    position: relative;
    width: 400px;
    top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 2.3;
    list-style-type: none;
}

.botao-padrao {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: -80px;
    margin-block-end: 0px;
}

#botao-competencias {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: -20px;
    margin-block-end: 0px;
}

#botao-objetivo {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-block-end: 40px;
    top: 300px;
}

#botao-infocomplet {
    position: relative;
    top:80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-block-end: 40px;
}

#botao-idiomas {
    position: relative;
    display: block;
    top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-block-end: 40px;
}

.logo {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 500px) {
    .agrupamento-padrao {
        position:absolute;
        width: 90%;
        top: -100px;
        left: -20px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 2.5;
        list-style-type: none;
        color: #000000;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #agrupamento-Objetivos {
        position: absolute;
        width: 322px;
        left: -20px;
        top: 300px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 2.5;
        list-style-type: none;
        text-align: justify;
        color: #000000;
    }
}


@media screen and (min-width: 700px) {
    .agrupamento-padrao {
        position: relative;
        width: 90%;
        top: -100px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 2.5;
        text-align: center;
        list-style-type: none;
        color: #000000;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.foto_com_mouse{
    width: 112px;
    height: 105px;
    top: 0px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
}

.foto_sem_mouse{
    position: relative;
    width: 80px;
    height: 85px;
    top: 0px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
}

#acender, #escuro{
    cursor: pointer;
}

.escuro{
    background-color: rgb(94, 92, 92);
    color: white;
    transition: 1s;
    
}

.claro{
    background-color:white;
    color:#333333;
    transition: 1s;
}

.tamanho_controles{
    /*position: absolute;*/
    position:relative;
    width: 32px;
    height: 32px;
    top: -85px;
}

.tamanho_controles-dp{
    /*position: absolute;*/
    position:relative;
    width: 32px;
    height: 32px;
    top: -320px;
}

.tamanho_controles-ob{
    /*position: absolute;*/
    position: absolute;
    width: 32px;
    height: 32px;
    top: -320px;
}

.tamanho_controles-id{
    /*position: absolute;*/
    position: relative;
    width: 32px;
    height: 32px;
    top: 0px;
}




/* Informações Complementares */